# Configurações do Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Configurações da Aplicação Python (FastAPI)
PYTHON_PORT=8001
PYTHON_CACHE_TTL=10

# Configurações da Aplicação Node.js (Express)
NODE_PORT=8002
NODE_CACHE_TTL=60

# Fuso Horário dos Contêineres
TZ=America/Sao_Paulo